*,
*::before,
*::after{
	box-sizing: border-box;
}
html{
	--background-primary: #36393F;
	--text-normal: white;
	--modifier-dark: rgba(0, 0, 0, 0.5);
}
body{
	background-color: var(--background-primary);
	color: var(--text-normal);
	width: 400px;
	font-size: 11pt;
}
.stylesheets{
	padding: 2px;
}
.groups{
	margin-left: 30px;
}
.properties{
	margin-left: 30px;
}