*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--background-primary: #36393F;
	--background-secondary: #202025;
	--text-normal: white;
	--text-muted: lightgray;
	--modifier-dark: rgba(0, 0, 0, 0.5);
	--modifier-light: rgba(255, 255, 255, 0.25);
	--button-nice: rgb(80, 185, 255);
}
html, body{
	height: 100%;
	width: 100%;
}
body {
	min-width: 350px;
	background-color: var(--background-primary);
	color: var(--text-normal);
	font-size: 12pt;
	margin: 0;
}
body::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}
body::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 8px;
}
body::-webkit-scrollbar-corner {
	display: none;
}
nav {
	top: 0;
	background-color: var(--modifier-dark);
	border-bottom: 1px solid green;
	width: 100%;
	padding: 5px 10px 10px;
	z-index: 1;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title {
	font-weight: 750;
	font-size: 15pt;
}
#stylesheets {
	padding: 5px 10px;
}
.stylesheet > summary {
	display: flex;
	align-items: center;
}
.stylesheetEnabled {
	vertical-align: middle;
}
summary::marker {
	content: "";
}
details > summary::before {
	content: "";
	width: 7px;
	height: 7px;
	margin-right: 5px;
	display: inline-block;
	border-bottom: 2px solid currentColor;
	border-right: 2px solid currentColor;
	transform: rotate(-45deg);
	transition: transform 0.2s linear;
}
details[open] > summary::before {
	transform: rotate(45deg)
}
.stylesheet[open] {
	margin-bottom: 10px;
}
.groups{
	margin-left: 20px;
}
.groupName {
	color: var(--text-muted);
	font-size: 0.8rem;
}
.properties {
	margin-left: 20px;
}
.property {
	display: flex;
	justify-content: space-between;
	margin-top: 2px;
}
.nopropertyNotice {
	color: var(--text-muted);
	font-size: 0.8em;
}
.propertyName {
	flex-shrink: 0;
	margin: 0 5px;
	font-size: 0.8rem;
}
.propertyInput {
	outline: none;
	flex-shrink: 2;
	flex-grow: 1;
	width: 70%;
	color: var(--text-normal);
	background-color: var(--modifier-light);
	border: none;
	border-bottom: solid 1px white;
}
.propertyInput:not(:placeholder-shown){
	border-color: greenyellow;
}
.propertyInput::placeholder {
	color: var(--text-muted);
}
.colorInput {
	width: 1rem;
	height: 1rem;
	border-width: 1px;
}
.drawer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	animation-fill-mode: forwards;
	animation-name: drawerSlideUp;
	animation-duration: 1s;
	padding: 10px;
	background-color: var(--background-secondary);
}
.drawerHidden {
	animation-name: drawerSlideDown;
}
.noanimation {
	animation-duration: 0s;
}
@keyframes drawerSlideUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes drawerSlideDown {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(100%);
	}
}
#exportDrawer {
	top: 0;
}
#exportField {
	display: block;
	width: calc(100% - 10px);
	height: calc(100% - 30px);
	margin: 5px;
	padding: 5px;
	outline: none;
	border: none;
	background-color: #0005;
	color: white;
}
.pickerWrapper {
	display: flex;
	justify-content: space-between;
}
.btn {
	padding: 3px 10px;
	border: none;
}
.btn-nice {
	background-color: var(--button-nice);
}
